input, textarea {
  appearance: none;
  width: 100%;

  border-radius: 8px;
  border: 1px solid var(--colors-input-input-stroke);
  background: var(--colors-input-input-base);

  height: 3rem;
  padding-inline: 1rem;

  color: var(--colors-input-input-placeholder);
  font-family: var(--fonts-family-body);
  font-size: var(--fonts-size-body-md);
  font-weight: 400;
}

input:focus, textarea:focus, input[type="date"]:focus-within {
  outline: none;
  border: 1px solid var(--colors-brand-brand-light);
  outline-offset: .1px;
}


input, textarea {
  &:invalid {
    border: 1px solid var(--colors-feedback-danger);
  }

  &[required] + .error {
    display: flex;
    align-items: center;
    gap: .25rem;

    color: var(--colors-feedback-danger);
    font-size: var(--fonts-size-body-xs);
    font-weight: 400;
    margin-top: 0.5rem;
  }

  &:not(:focus):valid + .error {
    display: none;
  }
}

input[type="datetime-local"] {
  
  &::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
}

textarea {
  padding-block: 1rem;
  height: 8.5rem;
}

