.radio-segmented-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.25rem;

  height: 3rem;

  border-radius: 8px;
  border: 1px solid var(--colors-input-input-stroke);
  background: var(--colors-input-input-base);

  padding: 0.25rem;

  .radio-segmented-inner {
    position: relative;
    

    & input, & input:focus, & input:hover {
      all:unset;
      position: absolute;
      inset: 0;
    }
  
    & label {
      height: 100%;

      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      
    }

    &:has(:checked) {
      label {
        border-radius: 5px;
        background: var(--colors-shape-shape-button);
        font-weight: 600;

        & svg path {
          fill: #59B2FF;
        }
      }
    }
  }
}

.radio-colors-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-block: 1rem 1.75rem;
 
    .radio-colors-inner {
      width: 2.5rem;
      height: 2.5rem;
  
      border-radius: 999px;
      background: var(--colors-shape-shape-button);
  
      position: relative;
  
      & input, & input:focus, & input:hover {
        all:unset;
        position: absolute;
        inset: 0;
      }

      &:has(:checked) {
        border: 2px solid var(--colors-brand-brand-light);
      }
    }
} 
 

.event-selection-wrapper {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 0.5rem;

  .event-selection-inner {

    border-radius: 0.5rem;

    position: relative;

    &  label {
      height: 100%;
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;

      border-radius: 8px;
      border: 1px solid var(--colors-input-input-stroke, #363B40);
      background: var(--colors-shape-shape-button, #2D3136);

      & span {
        color: var(--colors-text-text-heading);
        font-size: var(--fonts-size-body-sm);
        font-weight: 400;
      }
    }

    & input, & input:focus, & input:hover {
      all:unset;
      position: absolute;
      inset: 0;
    }

    &:has(:checked) {
      border: 2px solid var(--colors-brand-brand-light);
    }
  }
}
